@import "./core/colors";
.app {
  background-color: $primary1;
  width: 100vw;
  height: 100vh;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #4d4d4d;

  &__footer {
    margin: 20px;

    a {
      padding: 5px 10px 5px 0;
      color: white;
    }
  }
}


