@import "core/colors";
.filter {
  background-color: $primary3;
  border-radius: 2px;
  display: flex;
  align-items: center;

  &::-webkit-input-placeholder {
    color: white;
    opacity: 0.5;
  }

  &__input {
    outline: none;
    border: none;
    display: inline-block;
    //height: 24px;
    width: 140px;
    font-size: inherit;
    color: white;
    background-color: transparent;
    margin-right: 5px;
    padding: 5px;
  }

  &__icon {
    width: 30px;
    height: 20px;
  }
}
